html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}


h1 {
	font-size: 60px;
	text-align: center;
}





body {
	background-image: url('v2-3930ce6b1c16924bb3c6e53340232035_r.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: cornflowerblue;
	front-family:  微软雅黑;
}
h3 {
	width: 300px;
	height: 200px;
	white-space: nowrap;
	overflow: hidden;
}


