html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}


h1 {
	font-size: 60px;
	text-align: center;
}


body {

	width: 600px;
	margin: 0 auto;
	background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
	padding: 0 20px 20px 20px;
	
}


html {
	background: radial-gradient( circle at bottom left, transparent 0, transparent 2em, beige 2em, beige 4em, transparent 4em, transparent 6em, khaki 6em, khaki 8em, transparent 8em, transparent 10em ), radial-gradient( circle at top right, transparent 0, transparent 2em, beige 2em, beige 4em, transparent 4em, transparent 6em, khaki 6em, khaki 8em, transparent 8em, transparent 10em ), radial-gradient( circle at top left, transparent 0, transparent 2em, navajowhite 2em, navajowhite 4em, transparent 4em, transparent 6em, peachpuff 6em, peachpuff 8em, transparent 8em, transparent 10em ), radial-gradient( circle at bottom right, transparent 0, transparent 2em, palegoldenrod 2em, palegoldenrod 4em, transparent 4em, transparent 6em, peachpuff 6em, peachpuff 8em, transparent 8em, transparent 10em ), blanchedalmond;
	background-blend-mode: multiply;
	background-size: 10em 10em;
	background-position: 0 0, 0 0, 5em 5em, 5em 5em;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: cornflowerblue;
	front-family:  微软雅黑;
}
h3 {
	width: 300px;
	height: 200px;
	white-space: nowrap;
	overflow: hidden;
}


